$black-point: #000000;
$black-filter-25: rgba(0, 0, 0, 0.25);
$black-filter-30: rgba(0, 0, 0, 0.3);
$white-point: #ffffff;
$orange-400: #FF6060;
$grey-200: #F6F6F6;
$grey-400: #C4C4C4;
$grey-background-45: rgba(246, 246, 246, 0.45);
$overlay-400: linear-gradient(to bottom, #0A0A0A00 0%, #0A0A0A00 42%, rgba(4, 4, 4, 0.41) 100%);
$red-placeholder-1000: #FF6060;