/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  src: url("../scss/assets/Montserrat-VariableFont_wght.ttf"); }
body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400; }

header {
  height: 64px;
  padding: 48px 96px;
  display: flex;
  justify-content: space-between; }
  header > .logo {
    height: 64px; }
    @media screen and (max-width: 768px) {
      header > .logo {
        height: 48px; } }
  header > nav {
    display: flex;
    align-items: center;
    gap: 56px; }
    header > nav > a {
      text-decoration: none;
      color: #000000;
      font-size: 1.5rem; }
      @media screen and (max-width: 768px) {
        header > nav > a {
          text-transform: uppercase;
          font-size: 0.75rem; } }
      header > nav > a.active {
        text-decoration: underline;
        text-decoration-thickness: 2px; }
    @media screen and (max-width: 768px) {
      header > nav {
        gap: 24px; } }
  @media screen and (max-width: 768px) {
    header {
      height: 48px;
      padding: 16px 20px; } }

main {
  margin: 8px 96px;
  min-height: calc( 100vh - calc( 48px * 2 + 64px ) - 200px - 8px * 2); }
  @media screen and (max-width: 768px) {
    main {
      margin: 8px 16px;
      min-height: calc( 100vh - calc( 16px * 2 + 48px ) - 200px - 8px * 2); } }

footer {
  background-color: #000000;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding-top: 64px;
  padding-bottom: 24px;
  height: calc( 200px - 64px - 24px );
  font-size: 1.5rem; }
  @media screen and (max-width: 768px) {
    footer {
      font-size: 0.75rem;
      gap: 16px;
      padding-top: 64px;
      padding-bottom: 64px;
      height: calc( 200px - 64px - 64px ); }
      footer > p {
        width: 122px;
        text-align: center; } }

.collapse {
  position: relative; }
  .collapse > .title {
    background-color: #FF6060;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border-radius: 8px;
    height: 40px;
    padding: 8px 16px;
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 700;
    z-index: 100; }
    .collapse > .title > img {
      width: 32px;
      transform: rotate(-180deg);
      transition: transform 0.3s ease-out; }
      @media screen and (max-width: 768px) {
        .collapse > .title > img {
          width: 16px; } }
    @media screen and (max-width: 768px) {
      .collapse > .title {
        font-size: 0.813rem; } }
  .collapse > .content {
    background-color: rgba(246, 246, 246, 0.45);
    padding: 0 16px 0 16px;
    margin-top: -8px;
    font-size: 1.125rem;
    border-radius: 0 0 8px 8px;
    position: relative;
    z-index: 0; }
    .collapse > .content > .wrapper {
      padding: 24px 0 16px 0;
      margin: 0 0 0 0;
      overflow: hidden; }
    @media screen and (max-width: 768px) {
      .collapse > .content {
        font-size: 0.75rem; } }
  .collapse.closed > .title > img {
    transform: rotate(0deg);
    transition: transform 0.3s ease-out; }

.hero {
  overflow: hidden;
  height: 224px;
  border-radius: 24px;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.25) 0 4px 4px 0; }
  .hero > img {
    display: block;
    height: inherit;
    width: 100%;
    object-fit: cover;
    object-position: center; }
  .hero::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 24px;
    background-color: rgba(0, 0, 0, 0.3); }
  .hero > .text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100; }
    .hero > .text > h1 {
      font-weight: 700;
      color: #ffffff;
      font-size: 3rem;
      text-align: center;
      padding: 16px; }
      @media screen and (max-width: 768px) {
        .hero > .text > h1 {
          text-align: left;
          font-size: 1.5rem; } }
    @media screen and (max-width: 768px) {
      .hero > .text {
        justify-content: flex-start;
        font-size: 1.5rem; } }
  @media screen and (max-width: 768px) {
    .hero {
      height: 112px;
      box-shadow: none; } }

.card {
  width: 344px;
  height: 344px;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
  background-color: #FF6060; }
  .card > img {
    width: 344px;
    height: 344px;
    border-radius: 16px;
    object-fit: cover;
    object-position: center center; }
    @media screen and (max-width: 768px) {
      .card > img {
        width: 100%;
        height: 256px; } }
  .card > .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #0A0A0A00 0%, #0A0A0A00 42%, rgba(4, 4, 4, 0.41) 100%);
    z-index: 50;
    border-radius: 16px; }
  .card > p {
    color: #ffffff;
    font-weight: 700;
    font-size: 1.125rem;
    position: absolute;
    top: 264px;
    left: 24px;
    line-height: 150%;
    z-index: 100; }
    @media screen and (max-width: 768px) {
      .card > p {
        top: 184px;
        left: 16px; } }
  @media screen and (max-width: 768px) {
    .card {
      width: 100%;
      height: 256px; } }

.index > .housing {
  background-color: #F6F6F6;
  border-radius: 24px;
  padding: 56px;
  margin: 40px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 56px;
  justify-content: space-between; }
  @media screen and (max-width: 768px) {
    .index > .housing {
      background-color: transparent;
      border-radius: 0;
      padding: 0;
      gap: 16px;
      flex-wrap: nowrap;
      flex-direction: column; } }

.about > .content {
  padding: 40px 104px;
  display: flex;
  flex-direction: column;
  gap: 32px; }
  @media screen and (max-width: 768px) {
    .about > .content {
      padding: 40px 0; } }

.not-found {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; }
  .not-found > h1 {
    font-weight: 700;
    font-size: 18rem;
    color: #FF6060; }
    @media screen and (max-width: 768px) {
      .not-found > h1 {
        font-size: 6rem; } }
  .not-found > p {
    font-size: 2.25rem;
    color: #FF6060;
    font-weight: 500;
    text-align: center; }
    @media screen and (max-width: 768px) {
      .not-found > p {
        font-size: 1.125rem; } }
  .not-found > a {
    font-size: 1.125rem;
    font-weight: 500;
    color: #000000;
    text-align: center; }
    @media screen and (max-width: 768px) {
      .not-found > a {
        font-size: 0.875rem; } }

/*# sourceMappingURL=main.css.map */
