.about{
  & > .content{
    padding: 40px 104px;

    display: flex;
    flex-direction: column;
    gap: 32px;

    @media screen and (max-width: $mobile_breakpoint) {
      padding: 40px 0;
    }
  }
}