.index {
  & > .housing {
    background-color: $grey-200;
    border-radius: 24px;
    padding: 56px;
    margin: 40px 0;

    display: flex;
    flex-wrap: wrap;
    gap: 56px;
    justify-content: space-between;

    @media screen and (max-width: $mobile_breakpoint) {
      background-color: transparent;
      border-radius: 0;
      padding: 0;
      gap: 16px;
      flex-wrap: nowrap;
      flex-direction: column;

    }
  }
}